{{#if this.response}}
  {{#if this.catalog}}
    <div class="alert alert-{{@type}} alert-dismissable fade-in" role="alert">
      <p>{{@response}}</p>
    </div>
  {{else}}
    <div class="alert alert-{{@type}} alert-dismissable fade-in" role="alert" style={{@style}}>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>{{@response}}</p>
    </div>
  {{/if}}
{{/if}}