{{#if (eq @type "brand")}}
  <select class="{{@look}}" onchange={{action 'selectVal' value='target.value'}}>
    <option value="">Choose Brand & Model</option>
    <option id="BMW" value="BMW">-----BMW-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.brand "BMW")}}
        <option id="{{stuff.brand}}.{{stuff.model}}" class="" value="{{stuff.brand}}.{{stuff.model}}">{{stuff.model}}</option>
      {{/if}}
    {{/each}}
    <option id="HONDA" value="HONDA">-----HONDA-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.brand "HONDA")}}
        <option id="{{stuff.brand}}.{{stuff.model}}" class="" value="{{stuff.brand}}.{{stuff.model}}">{{stuff.model}}</option>
      {{/if}}
    {{/each}}
    <option id="HYUNDAI" value="HYUNDAI">-----HYUNDAI-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.brand "HYUNDAI")}}
        <option id="{{stuff.brand}}.{{stuff.model}}" class="" value="{{stuff.brand}}.{{stuff.model}}">{{stuff.model}}</option>
      {{/if}}
    {{/each}}
    <option id="MAZDA" value="MAZDA">-----MAZDA-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.brand "MAZDA")}}
        <option id="{{stuff.brand}}.{{stuff.model}}" class="" value="{{stuff.brand}}.{{stuff.model}}">{{stuff.model}}</option>
      {{/if}}
    {{/each}}
    <option id="MERCEDES" value="MERCEDES">-----MERCEDES-BENZ-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.brand "MERCEDES-BENZ")}}
        <option id="{{stuff.brand}}.{{stuff.model}}" class="" value="{{stuff.brand}}.{{stuff.model}}">{{stuff.model}}</option>
      {{/if}}
    {{/each}}
    <option id="MITSUBISHI" value="MITSUBISHI">-----MITSUBISHI-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.brand "MITSUBISHI")}}
        <option id="{{stuff.brand}}.{{stuff.model}}" class="" value="{{stuff.brand}}.{{stuff.model}}">{{stuff.model}}</option>
      {{/if}}
    {{/each}}
    <option id="NISSAN" value="NISSAN">-----NISSAN-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.brand "NISSAN")}}
        <option id="{{stuff.brand}}.{{stuff.model}}" class="" value="{{stuff.brand}}.{{stuff.model}}">{{stuff.model}}</option>
      {{/if}}
    {{/each}}
    <option id="SUZUKI" value="SUZUKI">-----SUZUKI-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.brand "SUZUKI")}}
        <option id="{{stuff.brand}}.{{stuff.model}}" class="" value="{{stuff.brand}}.{{stuff.model}}">{{stuff.model}}</option>
      {{/if}}
    {{/each}}
    <option id="TOYOTA" value="TOYOTA">-----TOYOTA-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.brand "TOYOTA")}}
        <option id="{{stuff.brand}}.{{stuff.model}}" class="" value="{{stuff.brand}}.{{stuff.model}}">{{stuff.model}}</option>
      {{/if}}
    {{/each}}
    <option id="VOLKSWAGEN" value="VOLKSWAGEN">-----VOLKSWAGEN-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.brand "VOLKSWAGEN")}}
        <option id="{{stuff.brand}}.{{stuff.model}}" class="" value="{{stuff.brand}}.{{stuff.model}}">{{stuff.model}}</option>
      {{/if}}
    {{/each}}
  </select>
{{else if (eq @type "category")}}
  <select class="{{@look}}" onchange={{action 'selectVal' value='target.value'}}>
    <option value="">Choose item category</option>
    <option id="Engine and Transmission" value="Engine and Transmission">-----Engine & Transmission-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.family "Engine and Transmission")}}
        <option id="{{stuff.family}}.{{stuff.sub_family}}" class="" value="{{stuff.family}}.{{stuff.sub_family}}">{{stuff.sub_family}}</option>
      {{/if}}
    {{/each}}
    <option id="Electrical" value="Electrical">-----Electrical-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.family "Electrical")}}
        <option id="{{stuff.family}}.{{stuff.sub_family}}" class="" value="{{stuff.family}}.{{stuff.sub_family}}">{{stuff.sub_family}}</option>
      {{/if}}
    {{/each}}
    <option id="Suspension" value="Suspension">-----Suspension-----</option>
    {{#each @data as |stuff|}}
      {{#if (eq stuff.family "Suspension")}}
        <option id="{{stuff.family}}.{{stuff.sub_family}}" class="" value="{{stuff.family}}.{{stuff.sub_family}}">{{stuff.sub_family}}</option>
      {{/if}}
    {{/each}}
  </select>
{{/if}}{{selected}}