<style>
  a {
    color: black;
  }

  a:hover {
    text-decoration: none;
  }
</style>
<div class="product-card-container">
  <a href="/product-detail/{{@product.pid}}" class="">
    <div class="pcard-img-container justify-content-end">
      <span class="product-card-sku">{{@product.sku}}</span>
      <div class="justify-content-center">
        <img class="product-card-img" src="{{@product.imgUrl}}" width="200">
      </div>
    </div>
    <div class="product-card-info">
      <div class="row">
        <StarRating @class="" />
        <p class="product-card-name">{{@product.name}}</p>
        <p class="product-card-price">{{this.formatedPrice}}</p>
      </div>
    </div>
  </a>
</div>