<div class="row p-detail-stars">
  <fieldset class="rating-static">
    <input type="radio" id="star5-static-{{@pid}}" name="rating" value="5" disabled readonly/><label class = "full" for="star5"></label>
    <input type="radio" id="star4half-static-{{@pid}}" name="rating" value="4.5" disabled readonly /><label class="half" for="star4half"></label>
    <input type="radio" id="star4-static-{{@pid}}" name="rating" value="4" disabled readonly /><label class = "full" for="star4"></label>
    <input type="radio" id="star3half-static-{{@pid}}" name="rating" value="3.5" disabled readonly /><label class="half" for="star3half"></label>
    <input type="radio" id="star3-static-{{@pid}}" name="rating" value="3" disabled readonly /><label class = "full" for="star3"></label>
    <input type="radio" id="star2half-static-{{@pid}}" name="rating" value="2.5" disabled readonly /><label class="half" for="star2half"></label>
    <input type="radio" id="star2-static-{{@pid}}" name="rating" value="2" disabled readonly /><label class = "full" for="star2"></label>
    <input type="radio" id="star1half-static-{{@pid}}" name="rating" value="1.5" disabled readonly /><label class="half" for="star1half"></label>
    <input type="radio" id="star1-static-{{@pid}}" name="rating" value="1" disabled readonly /><label class = "full" for="star1"></label>
    <input type="radio" id="starhalf-static-{{@pid}}" name="rating" value="0.5" disabled readonly /><label class="half" for="starhalf"></label>
  </fieldset>
  <p class="m-0">({{@num}})</p>
</div>{{selected}}