<div>
  <label class="">Product Name</label>
  <Input
    @keyUp={{action 'inputName' value="target.value"}}
    @maxlength="50"
    @name="nama-produk"
    @type="text"
    @value={{this.name}}
  /><br>

  <label class="">Price</label>
  <Input
    @keyUp={{action 'inputPrice' value="target.value"}}
    @maxlength="10"
    @name="harga-produk"
    @type="text"
    @value={{format-currency this.priceVal 'nosign'}}
  /><br>

  <label class="">Year</label>
  <Input
    @keyUp={{action 'inputYear' value="target.value"}}
    @maxlength="10"
    @name="tahun-produk"
    @type="text"
    @value={{this.year}}
  /><br>

  <label class="">SKU / Part Number</label>
  <Input
    @keyUp={{action 'inputSKU' value="target.value"}}
    @maxlength="10"
    @name="sku-produk"
    @type="text"
    @value={{this.sku}}
  /><br>
  
  <label class="">Item Condition </label>
  <select class="" name="item-condition" onchange={{action 'chooseCondition' value="target.value"}}>
    {{#each this.itemConditions as |item|}}
      {{#if (eq item.value this.condition)}}
        <option value={{item.value}} selected="selected">{{item.msg}}</option>
      {{else}}
        <option value={{item.value}}>{{item.msg}}</option>
      {{/if}}
    {{/each}}
  </select><br>

  <label class="">Is it coloured ? </label>
  <input onclick={{action 'hasColour' value="target.value"}} type="radio" id="yes" value="yes">
  <label for="yes">Yes</label>
  <input onclick={{action 'hasColour' value="target.value"}} type="radio" id="no" value="no" checked>
  <label for="no">No</label><br>

  {{#if this.coloured}}
    <label class="">Colour</label>
    <Input
      @keyUp={{action 'inputColour' value="target.value"}}
      @maxlength="10"
      @name="warna-produk"
      @type="text"
      @value={{this.colour}}
    /><br>
  {{/if}}

  <label class="">Stock</label>
  <Input
    @keyUp={{action 'inputStock' value="target.value"}}
    @maxlength="10"
    @name="stok-produk"
    @type="text"
    @value={{this.stock}}
  /><br>

  <div class="pell-editor">
    <p>Item Description</p>
    <PellEditor @pellOptions={{pellOptions}} @value={{this.description}} @onChange={{action "changeDescription" this.description}} />
  </div>
  
  <img id="imgss" src="" width="250" height="250">
  <input type="file" onchange={{action "inputImage"}} accept="image/*">
  
  <br>

  <div class="">
    <button disabled={{this.isDisabled}} onclick={{action "submit"}}>Submit</button>
  </div>

</div>