<style>
  .footer {
    display: none;
  }

  body {
    overflow: hidden;
  }
</style>
<div class="secondary-color seller-products-container h-100vh">
  <div class="container-fluid h-100">
    <div class="row justify-content-center pt-3">
      <div class="col-sm-10">
        <div class="row justify-content-end mt-5 mb-4">
          <div class="col-sm-6 pr-5">
            <div class="row justify-content-end mr-3">
              <div class="col-sm-3">
                <button id="new-btn" class="btn-red-border-radius" onclick={{action "changeView" "unfinished"}}>
                  In Progress
                </button>
              </div>
              <div class="col-sm-3">
                <button id="appr-btn" class="btn-transparent" onclick={{action "changeView" "done"}}>
                  Done
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-end m-3">
          <div class="col-sm-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-search" viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </div>
        </div>
        <div class="row justify-content-center">
          <ProfileCard @class="col-sm-3" @where="user-orders" />
          <div class="col-sm-7 mx-4 scrollable h-650px">
            {{#if (eq this.shows "done")}}
              {{#if this.done}}

              {{else}}
                Empty :(
              {{/if}}
            {{else}}
              {{#if this.pending}}
                {{#each this.tidList as |tids|}}
                  {{#each this.userList as |user|}}
                    <div class="row">
                      <div class="col-sm-11">
                        <div class="row justify-content-between border border-radius-1 mb-4 bg-white">
                          <div class="col-sm-12">
                            <div class="row justify-content-start border border-bottom-1 p-3">
                              <div class="col-auto product-list-text my-auto align-self-center">
                                {{user.name}}
                                <button class="btn pt-0" onclick={{action "waUser" user.attr.phone_number}}>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4FCE5D" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                    <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
                                  </svg>
                                </button>
                              </div>
                              <div class="col"></div>
                              <div class="col-auto">
                                <div class="row justify-content-center">
                                  {{#each this.status as |stats|}}
                                    {{#if (eq stats.tid tids.tid)}}
                                      {{#if (eq stats.shipment_status 0)}}
                                        <div class="col-6 align-self-center">Accept order?</div>
                                        <div class="col-2 align-self-center" onclick={{action "changeTransStatus" 1 tids.tid}}>
                                          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#8ac273" class="bi bi-check-circle cursor-pointer" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                          </svg>
                                        </div>
                                        <div class="col-2 align-self-center" onclick={{action "changeTransStatus" 4 tids.tid}}>
                                          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#ef6060" class="bi bi-x-circle cursor-pointer" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                          </svg>
                                        </div>
                                      {{else if (eq stats.shipment_status 1)}}
                                        <div class="col-6 align-self-center">Order sent?</div>
                                        <div class="col-sm align-self-center" onclick={{action "changeTransStatus" 2 tids.tid}}>
                                          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#8ac273" class="bi bi-check-circle cursor-pointer" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                          </svg>
                                        </div>
                                      {{/if}}
                                    {{/if}}
                                  {{/each}}
                                </div>
                              </div>
                            </div>
                            {{#each this.pending as |data|}}
                              {{#if (eq data.transaction_id tids.tid)}}
                                {{#if (eq user.uid data.uid)}}
                                  <div class="row border border-bottom-1 p-3">
                                    <div class="col-sm">
                                      <div class="row">
                                        <div class="col-sm-3 my-auto">
                                          <div class="d-flex">
                                            <img src="{{data.imgUrl}}" alt="Product Image" class="img-fluid" width="113" height="119">
                                          </div>
                                        </div>
                                        <div class="col align-self-center justify-content-start product-list-text">
                                          <div class="row">
                                            {{data.name}}
                                          </div>
                                          <div class="row fs-14px text-color-grey">
                                            SKU: {{data.sku}}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-3 my-auto mx-auto">
                                      <div class="row px-auto">
                                        <div class="col-sm-12 text-left price-text">
                                          {{data.quantity}} pcs
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {{/if}}
                              {{/if}}
                            {{/each}}
                            <div class="row justify-content-between">
                              {{#each this.status as |status|}}
                                {{#if (eq status.tid tids.tid)}}
                                  <div class="col-sm-6 ml-3 grey-text-color align-self-center">
                                    Transaction ID: <b>{{status.tid}}</b>
                                  </div>
                                  <div class="col align-self-center">
                                    <button class="btn btn-proof" data-toggle="modal" data-target="#transaction-details" onclick={{action "showDetails" user.attr.address}}>See user address</button>
                                  </div>
                                  <div class="col-sm-4 p-0 justify-content-center d-flex flex-row">
                                    {{#if (eq status.shipment_status 0)}}
                                      <img src="https://res.cloudinary.com/partsku/image/upload/v1625837569/partsku/Waiting_Seller_fcie1y.png" width="283px" height="70px">
                                    {{else if (eq status.shipment_status 1)}}
                                      <img src="https://res.cloudinary.com/partsku/image/upload/v1625747815/partsku/Processed_drwvyc.png" width="283px" height="70px">
                                    {{else if (eq status.shipment_status 2)}}
                                      <img src="https://res.cloudinary.com/partsku/image/upload/v1625747814/partsku/Otw_whtyga.png" width="283px" height="70px">
                                    {{else if (eq status.shipment_status 3)}}
                                      <img src="https://res.cloudinary.com/partsku/image/upload/v1625837548/partsku/Complete-1_zkgam1.png" width="283px" height="70px">
                                    {{else if (eq status.shipment_status 4)}}
                                      <img src="https://res.cloudinary.com/partsku/image/upload/v1625747816/partsku/Rejected_ovece1.png" width="283px" height="70px">
                                    {{/if}}
                                  </div>
                                {{/if}}
                              {{/each}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                {{/each}}
              {{else}}
                No unfinished transaction
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="transaction-details" tabindex="-1" role="dialog" aria-labelledby="transaction-details" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">User Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-content">
        <div class="modal-body">
          <p>{{this.detailAddress}}</p>
        </div>
      </div>
    </div>
  </div>
</div>