<style>
</style>
<div class="secondary-color background-design h-100">
	<div class="container-fluid secondary-color backgroud-design p-5 h-100">
		<div class="row justify-content-center mx-5 px-5">
			<div class="col-sm-9 px-5">
				<div class="row justify-content-between border-radius-1 bg-white p-3 mb-3">
					<div class="col-sm-2">
						<div class="row">
							<div class="col-sm-6">
								<Input @type="checkbox" @checked={{this.checkAll}} @change={{action "selectAll"}} />
							</div>
							<div class="col-sm-6">
								Product
							</div>
						</div>
					</div>
					<div class="col-sm-6 pl-4">
						<div class="row text-center">
							<div class="col-sm-3">
								Price
							</div>
							<div class="col-sm-4">
								Quantity
							</div>
							<div class="col-sm-3">
								Total
							</div>
						</div>
					</div>
				</div>
				{{#if this.cartSeller}}
					{{#each this.cartSeller as |item|}}
						<CartCard @style="cart" @data={{this.cartData}} @seller={{item}} @setQuant={{action 'setQuant'}} />
					{{/each}}
				{{else}}
					no item here yet
				{{/if}}
			</div>
		</div>
		{{!-- stick bottom --}}
		{{#if this.cartSeller}}
			<div class="row justify-content-center mx-5 px-5 sticky-bottom">
				<div class="col-sm-9 px-5">
					<div class="row justify-content-between border-radius-1 bg-white p-3 pt-5 shadow-1">
						<div class="col-sm-6 my-auto">
							<div class="row">
								<div class="col-sm-1">
									<input type="checkbox" name="" id="">
								</div>
								<div class="col-sm-3 product-list-text">
									<span class="" onclick={{action "selectAll"}}>Select All</span>
								</div>
								<div class="col-sm-2 product-list-text">
									<span class="" onclick={{action "clear"}}>Clear</span>
								</div>
								<div class="col-sm-5 product-list-text red-text-color">
									Add To Your Favorite
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row justify-content-end">
								<div class="col-sm-7 product-list-text my-auto">
									Total [{{this.productTotal}} Product]:
									<text class="red-text-color">
										{{format-currency this.totalCart}}
									</text>
								</div>
								<div class="col-sm-3 mr-5">
									<button class="btn btn-danger border-radius-0 product-list-text checkout-btn" data-toggle="modal" data-target="#checkoutTab" onclick={{action "checkout"}}>
										CHECKOUT
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/if}}
	</div>
</div>
<Modal::Popups @style="checkout" @cartSeller={{this.cartSeller}} @cartData={{this.cartData}} @totalCart={{this.totalCart}} />