{{#if (eq @style "rate-product")}}
  <div class="modal fade" id="rateProduct" tabindex="-1" role="dialog" aria-labelledby="rateProduct" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Rate the product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body show-proof-img w-100 text-center">
          <div class="container">
            <div class="row">
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" onclick={{action "setRate" value='target.value'}} /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4.5" onclick={{action "setRate" value='target.value'}} /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" onclick={{action "setRate" value='target.value'}} /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3.5" onclick={{action "setRate" value='target.value'}} /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" onclick={{action "setRate" value='target.value'}} /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2.5" onclick={{action "setRate" value='target.value'}} /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" onclick={{action "setRate" value='target.value'}} /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1.5" onclick={{action "setRate" value='target.value'}} /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" onclick={{action "setRate" value='target.value'}} /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="0.5" onclick={{action "setRate" value='target.value'}} /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
              </fieldset>
            </div>
            <div class="row">
              <h5>Write something about the product</h5>
              <textarea name="" id="review-box" cols="50" rows="10" value='target.value'></textarea>
            </div>
            <div class="row mt-3">
              <button class="primary-color white-text-color p-2 border-radius-0" onclick={{action "submitReview"}}>Submit Review</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else if (eq @style "see-review")}}
  <div class="modal fade" id="seeReview" tabindex="-1" role="dialog" aria-labelledby="seeReview" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Your Review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body show-proof-img w-100 text-center">
          <div class="container">
            <div class="row">{{starRating}}
              <fieldset class="rating-static">
                <input type="radio" id="star5-static" name="rating" value="5" disabled readonly/><label class = "full" for="star5-static"></label>
                <input type="radio" id="star4half-static" name="rating" value="4.5" disabled readonly /><label class="half" for="star4half-static"></label>
                <input type="radio" id="star4-static" name="rating" value="4" disabled readonly /><label class = "full" for="star4-static"></label>
                <input type="radio" id="star3half-static" name="rating" value="3.5" disabled readonly /><label class="half" for="star3half-static"></label>
                <input type="radio" id="star3-static" name="rating" value="3" disabled readonly /><label class = "full" for="star3-static"></label>
                <input type="radio" id="star2half-static" name="rating" value="2.5" disabled readonly /><label class="half" for="star2half-static"></label>
                <input type="radio" id="star2-static" name="rating" value="2" disabled readonly /><label class = "full" for="star2-static"></label>
                <input type="radio" id="star1half-static" name="rating" value="1.5" disabled readonly /><label class="half" for="star1half-static"></label>
                <input type="radio" id="star1-static" name="rating" value="1" disabled readonly /><label class = "full" for="star1-static"></label>
                <input type="radio" id="starhalf-static" name="rating" value="0.5" disabled readonly /><label class="half" for="starhalf-static"></label>
              </fieldset>
            </div>
            <div class="row">
              <p>{{@data.review}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else if (eq @style "upload-proof")}}
  <div class="modal fade" id="uploadProof" tabindex="-1" role="dialog" aria-labelledby="uploadproof" aria-hidden="true">{{countdown}}
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload Proof of Payment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <h5 class="text-center primary-text-color">You need to upload your proof of payment and the admin will validate your payment</h5>
            </div>
            <div class="row justify-content-center">
              <p>Please transfer to the following bank account before the time expires</p>
            </div>
            <div class="row justify-content-center">
              <img src="https://res.cloudinary.com/partsku/image/upload/v1625287005/partsku/bca-bank-central-asia-logo_yjkmnc.png" alt="" width="50%">
            </div>
            <div class="row justify-content-center">
              <h4 class="font-weight-bold">1234 5678 90</h4>
            </div>
            <div class="row justify-content-center">
              <h5 class="text-center">Please complete the transaction in:</h5>
            </div>
            <div class="row justify-content-center">
              <p id="countdown"></p>
            </div>
            <div class="row justify-content-center">
              <img id="preview-proof" class="my-5 w-75" src="" width="100%">
            </div>
            <div class="row justify-content-center text-center">
              <input id="input-proof" class="input-style mr-5 p-2" type="file" accept="image/*" onchange={{action "inputFoto"}}>
              {{#if this.uploaded}}
                <button id="upload-btn" class="btn upload-btn ml-5" onclick={{action "upload"}}>UPLOAD</button>
                <img id="spinner" class="d-none" src="https://res.cloudinary.com/partsku/image/upload/v1625147893/partsku/Spinner-1s-60px_pifuy6.gif">
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else if (eq style "view-proof")}}
  <div class="modal fade" id="viewProof" tabindex="-1" role="dialog" aria-labelledby="viewProof" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body show-proof-img w-100 text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <img id="show-proof-img" src="{{@data}}" alt="" width="100%">
        </div>
      </div>
    </div>
  </div>
{{/if}}