<div class="header container-fluid">
  <div class="row top-header-console">
    <div class="col align-self-center">
      <span class="header-logo row justify-content-center">
        <a href="/">
          <img src="https://res.cloudinary.com/partsku/image/upload/v1622973318/partsku/Logo_nyz2hs.png" alt="">
        </a>
      </span>
    </div>
    <div class="col-7 align-self-center text-center">
      {{#if showBar}}
        <Input @class="header-search-box" @placeholder="Search car part by SKU or name here" @value={{this.searchQuery}} @insert-newline={{action "search" value="target.value"}} />
        <button class="btn btn-header-search" onclick={{action "search"}}>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      {{/if}}
    </div>
    <div class="col align-self-center">
      {{!-- <div class="header-user-console-outer"> --}}
        <ul class="header-user-console">
          <li>
            <LinkTo @route="{{this.wishRoute}}" @class="top-consoles top-consoles-wishlist">
              <span class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
              </span>
            </LinkTo>
          </li>
          <li>
            <LinkTo @route="{{this.cartRoute}}" @class="top-consoles">
              <span class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
              </span>
            </LinkTo>
          </li>
          <li>
            {{#if this.isLoggedIn}}
              <LinkTo @route="{{userSellerRoute}}" @class="top-consoles loggedin-name d-flex">
                <p class="header-username">{{this.userName}}</p>
                <img class="header-pp" src="{{this.smallPp}}" width="24" height="24">
              </LinkTo>
            {{else}}
              <LinkTo @route="login" @class="align-self-end top-consoles">
                <span class="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  </svg>
                </span>
              </LinkTo>
            {{/if}}
          </li>
          {{#if this.isLoggedIn}}
            <li class="header-logout" onclick={{action "logout"}}>
              <div class="top-consoles">
                <span class="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
                </span>
              </div>
            </li>
          {{/if}}
        </ul>
      {{!-- </div> --}}
    </div>
  </div>
  <span class="row header-seperator"></span>
  {{#if this.notSeller}}
    <div class="row bottom-header-console">
      <div class="col-10"></div>
      
      <LinkTo @route="seller.register" @class="col bot-consoles">
        Become a seller
      </LinkTo>
    </div>
  {{/if}}
</div>