<div class="catalog-bg">
  <div class="container pt-5">
    {{#if this.searchResult}}
      <div class="search-result mb-3">
        <img src="https://res.cloudinary.com/partsku/image/upload/v1623923648/partsku/search-info-icon_ofmdbu.png">
        <p class="search-info">Search result for "<span class="search-query">{{this.searchResult}}</span>"</p>
      </div>
    {{/if}}
    <div class="filter-row">
      <div class="row">
        <div class="col-2 align-self-center text-center">
          <span>Sort / filter by</span>
        </div>
        <div class="text-center mr-3">
          <button class="btn sort-btn">New</button>
        </div> 
        <div class="text-center mr-3">
          <button class="btn sort-btn">Best Seller</button>
        </div>
        <div class="text-center mr-3">
          <select class="sort-box med-sort">
            <option value="" selected>Price</option>
            <option value="min_price">Low to High</option>
            <option value="max_price">High to Low</option>
          </select>
        </div>
        <div class="">
          <Dropdowns @type="brand" @look="sort-box large-sort mr-3" @data={{this.brands}} @action={{action "applyBrand"}} />
        </div>
        <div class="">
          <Dropdowns @type="category" @look="sort-box large-sort mr-3" @data={{this.category}} @action={{action "applyCategory"}} />
        </div>
        <div class="align-self-center">
          <button type="button" class="close" aria-label="Close" onclick={{action "clearFilters"}}>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    {{#if this.data.data}}
      <div class="row">
        {{#each this.data.data as |thing idx|}}
          <ProductCard @class="col-md-3 product-card-component" @style="catalog" @product={{thing}} @idx={{idx}} />
        {{/each}}
      </div>
    {{else}}
      No parts found with the keyword "{{this.searchResult}}"
    {{/if}}
    <div class="pagination-container justify-content-center d-flex">
      {{!-- pagination --}}
      {{#if this.needsPagination}}
        <ul class="pagination">
          {{#if this.showPrev}}
            <li>
              <a class="" {{on "click" this.prevPage}}>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
              </a>
            </li>
          {{/if}}
          {{#each this.numberOfPages as |page|}}
            <li>
              <LinkTo @query={{hash offset=page.ofset}}>{{page.num}}</LinkTo>
            </li>
          {{/each}}
          {{#if this.showNext}}
            <li>
              <a class="" {{on "click" this.nextPage}}>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </a>
            </li>
          {{/if}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>