<div class="catalog-bg">
  <div class="container">
    <div class="search-result">
      <img src="https://res.cloudinary.com/partsku/image/upload/v1623923648/partsku/search-info-icon_ofmdbu.png"> 
      <p class="search-info">Search result for "<span class="search-query">{{this.params.q}}</span>"</p>
    </div>
    <div class="filter-row">
      <div class="row">
        <div class="col align-self-center text-center">
          <span>Sort by</span>
        </div>
        <div class="col text-center">
          <button class="btn sort-btn">New</button>
        </div> 
        <div class="col text-center">
          <button class="btn sort-btn">Best Seller</button>
        </div>
        <div class="col align-self-center">
          <select class="price-sort">
            <option value="" selected>Price</option>
            <option value="min_price">Low to High</option>
            <option value="max_price">High to Low</option>
          </select>
        </div>
        <div class="col-5"></div>
      </div>
    </div>
    <div class="row">
      {{#each this.data.data as |thing|}}
        <ProductCard @class="col-md-3 product-card-component" @style="catalog" @product={{thing}} />
      {{/each}}
    </div>
    <div class="pagination-container justify-content-center d-flex">
      {{!-- pagination --}}
      {{#if this.needsPagination}}
        <ul class="pagination">
          {{#if this.showPrev}}
            <li>
              <a class="" {{on "click" this.prevPage}}>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
              </a>
            </li>
          {{/if}}
          {{#each this.numberOfPages as |page|}}
            <li>
              <LinkTo @query={{hash offset=page.ofset}}>{{page.num}}</LinkTo>
            </li>
          {{/each}}
          {{#if this.showNext}}
            <li>
              <a class="" {{on "click" this.nextPage}}>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </a>
            </li>
          {{/if}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>